@media (max-width: 1300px) {

        .navbar-menu {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 0px;
            right: 0;
            width: 40vw;
            height: 100vh;
            align-items: flex-start;
            padding: 30px 0px 0px 40px;
            backdrop-filter: blur(10px);
            background-color: var(--clr-white);
            border: 1px solid var(--clr-border);
            -webkit-backdrop-filter: blur(10px);
        }
        
        .navbar-container {
            padding:0 10px;
        }
    
        .navbar-menu.active {
            display: flex;
        }
    
        #menu-icon {
            display: block;
            font-size: 34px;
            z-index: 1000;
        }
    
        .btn-sm {
            display: none;
        }

        .col-md-4 {
            -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
        }
    
    /* global header breakpoint */
        .navbar.global {
            top: 0;
        }
        .navbar-container.global {
            margin: 0;
        }
    }

@media (max-width: 1024px) {
        html {
            font-size: 80%;
        }
        .navbar-container {
            padding:0 30px;
        } 

        .feature-image {
            width: 50%;
        }

        .feature-details {
            width: 50%;
        }

        .boxes-container {
            max-width: 1024px;
        }
    }

    /* Responsive */
    @media (max-width: 991px) {
        .blog .blog-item {
            flex: 0 0 100%;
            max-width: 100%;
        }

        .blog .blog-img img {
            width: 100%;
            height: auto;  
        }
}

@media (max-width: 768px) {

        .navbar-container {
            padding:0 8px;
        }

        .navbar-header {
            height: 60px;
        }

        .homepage {
            top: 30%;
        }

        .hero-content {
            max-width: 44rem;
        }

        .hero-content h1 {
            font-size: 65px;    
        }

        .hero-content p {
            font-size: 18px;
        }

        .boxes-container {
            max-width: 720px;
        }

        .box .content {
            padding: 30px;
        }

        .boxes-container .box {
            flex: 0 0 50%;
            max-width: 50%;
        }

        .contact {
            padding: 30px 0;
        }

        .contact .container {
            max-width: 780px;
        }
        .contact .container .row {
            flex-direction: column;
        }
        .col-md-4 {
            width: 100%;
            max-width: 100%;
        }

        .contact .text {
            padding: 20px;
        }

        .col-md-4 .text p {
            font-size: 16px;    
        }

        .btn {
            padding: 20px 30px;
            font-size: 14px;
        }

        .feature-content {
            flex-direction: column;
        }

        .feature-content.reverse {
            flex-direction: column;
        }

        .feature-image, .feature-content.reverse .feature-image {
            width: 100%;
            justify-content: center;
        }
        
        .feature-details {
            width: 100%;
        }

        .feature-details .details-wrapper {
            padding: 40px;
        }

        .blog .blog-img img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }

        .box .content {
            padding: 30px;
        }

        /* global footer breakpoints */

        .footer ul {
            -ms-flex-direction: column;
            flex-direction: column;
        }
        .footer ul li::before {
            display: none;
        }
}

@media (max-width: 430px) {
    .homepage {
        top: 18%;
    }

    .navbar-menu {
        width: 50vw;
    }

    .box .content {
        padding: 20px;
    }

    .feature-details .details-wrapper {
        padding: 30px;
    }

    .boxes-container .box {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (max-width: 400px) {

    .feature-details .details-wrapper {
        padding: 25px;
    }

}