@media (max-width: 1300px) {       
    /* global header breakpoint */
        .navbar.global {
            top: 0;
        }
        .navbar-container.global {
            margin: 0;
        }
    }

@media (max-width: 1024px) {
                
        .navbar-container {
            background-color: rgba(255, 255, 255, 0.118);
            max-width: 1024px;
            margin: 0 auto;
            border-bottom: var(--clr-border);
            box-shadow: none;
            border-radius: 0;
        }

        .navbar-menu {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 60px;
            right: 20px;
            width: 40vw;
            height: 60vh;
            align-items: flex-start;
            padding: 30px 0px 0px 20px;
            border-radius: 10px;
            border: 1px solid aliceblue;
            background-color: white;
            z-index: -1;
        }

        .navbar-menu.active {
            display: flex;
        }
    
        #menu-icon {
            display: block;
            font-size: 34px;
            z-index: 1000;
        }
    
        .btn-sm {
            display: none;
        }

        .feature-image {
            width: 50%;
        }

        .feature-details {
            width: 50%;
        }

        .boxes-container {
            max-width: 1024px;
        }

        .blog-container .row {
            flex-wrap: wrap;
        }
    }

@media (max-width: 768px) {
        .navbar-container {
            margin: 0 auto;
        }

        .homepage {
            top: 30%;
        }
        
        .boxes-container {
            max-width: 740px;
        }

        .box .content {
            padding: 30px;
        }

        .boxes-container .box {
            flex: 0 0 33.3333%;
            max-width: 33.3333%;
        }

        .contact {
            padding: 30px 0;
        }

        .contact .container {
            max-width: 720px;
        }
        .contact .container .row {
            flex-direction: column;
        }
        .col-md-4 {
            width: 100%;
            max-width: 100%;
        }

        .contact .text {
            padding: 20px;
        }

        .col-md-4 .text p {
            font-size: 16px;    
        }

        .btn {
            padding: 20px 30px;
            font-size: 14px;
        }

        .feature-content {
            flex-direction: column;
        }

        .feature-content.reverse {
            flex-direction: column;
        }

        .feature-image, .feature-content.reverse .feature-image {
            width: 100%;
            justify-content: center;
        }
        
        .feature-details {
            width: 100%;
        }

        .feature-details .details-wrapper {
            padding: 34px;
        }

        .blog .blog-img img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }

        .box .content {
            padding: 20px;
            margin: 5px;
        }

        .blog .blog-item {
            flex: 0 0 50%;
            max-width: 50%;
        }
    
        .blog .blog-img img {
            width: 100%;
            height: auto;  
        }

         /* global footer breakpoints */

        .footer ul {
            -ms-flex-direction: column;
            flex-direction: column;
            }
        .footer ul li::before {
            display: none;
        }
    }
  

@media (max-width: 430px) {
    html {
        font-size: 95%;
    }
    .navbar {
        position: absolute;
    }
    
    .homepage {
        top: 15%;
    }

    .navbar-menu {
        width: 50vw;
    }

    .hero-content h1 {
        font-size: 50px;    
    }

    .box .content {
        padding: 15px;
    }

    .blog-container {
        margin-top: 100px;
    }

    .box .content {
        padding: 15px;
        margin: 5px;
    }

    .feature-details .details-wrapper {
        padding: 20px;
    }

    .boxes-container .box {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 100%;
    }

    .blog-container .row {
        display: block;
    }

    .blog .blog-item {
        flex: 0 0 100%;
        max-width: 100%;
    }

}



@media (max-width: 400px) {

    .feature-details .details-wrapper {
        padding: 15px;
    }

}

@media (max-width: 325px) {
    .boxes-container .box {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}