/* Base Button Styles */
.btn {
    padding: 18px 40px;
    border-radius: 50px;
    cursor: pointer;
    color: var(--clr-white);
    background-color: var(--clr-sky-blue);
    font-size: 16px;
    border: 1px solid var(--clr-sky-blue);
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

/* Small Button Variation */
.btn.btn-sm {
    padding: 12px 24px;
    font-size: 14px;
}

/* Button Before Element */
.btn::before,
.btn.btn-sm::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--clr-white);
    transition: all 0.3s ease;
    z-index: -1;
}

/* Button Hover States */
.btn:hover,
.btn.btn-sm:hover {
    color: var(--clr-sky-blue);
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,171,240,0.2);
}

.btn:hover::before,
.btn.btn-sm:hover::before {
    width: 100%;
}

/* Button Active States */
.btn:active,
.btn.btn-sm:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0,171,240,0.2);
}

.btn-sm.menu {
  border-radius: 30px;
}
  
.btn-sm a {
    font-size: .95rem;
    color: var(--clr-sky-blue);
  }
  
.btn-sm a:hover {
    color: var(--clr-white);
  }

.section-button {
    margin-left: auto;
    margin-right: auto;
    max-width: 180px;
    margin-top: 50px;
  }


/* REUSABLE SECTION HEADER STYLES */
.section-header {
  margin: 0 auto;
  text-align: center;
}

.section-header .header-box {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section-header .header-subtitle {
  font-size: 18px;
}

.header-label {
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  background: var(--clr-sky-blue2);
  color: var(--clr-hot-pink);
  border-radius: 50px;
}

.header-label p {
  padding: 10px 20px;
  font-size: 12px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

