  :root {
    /* COLORS */
    --clr-sky-blue: rgb(0, 171, 240);
    --clr-dark-gray: #474747;
    --clr-dim-gray: dimgray;
    --clr-border: #e3e3e3;
    --clr-light-gray: #c5c5c5;
    --clr-white: white;
    --clr-pale-blue: #d3dfea;
    --clr-off-white: #ffff;
    --clr-black: #0e0e0e;
    --clr-hot-pink: #ff2d7d;
    --clr-almost-white: #fffff;
    --clr-sky-blue2: rgb(0, 171, 240, 0.1);
    --clr-lightier-gray: #f5f5f5;
    --clr-gray-bg: #eee;
    --clr-footer-p: #9b9b9b;


    --border-set: 1px solid #E2E3E3;
}
